@import "susy";

@viewport {
  width: device-width;
}

// border-box-sizing()
@include border-box-sizing;

//this is the default number of columns
$total-columns: 8;

//width of each column
$column-width: 60px;

//space between columns
$gutter-width: 20px;

//space on the right and left of the grid
$grid-padding: $gutter-width;

//alternative layout breakpoints
$tablet: $robin;
$computer: 12;