!!!
head
	meta(charset="utf-8")
	title= title
	link(href="/css/screen.css", rel="stylesheet")
body
	.container
		h1 Welcome to Express
		p This is <a href="http://rthor.is">rthor's</a> template.

	script(src="/js/main.js")